# Data Visualization 
### By Swetha Revanur and Keanu Spies

Here, we implement a variety of visualizations. This notebook was adapted from [this Kaggle notebook](https://www.kaggle.com/quannguyen135/who-is-at-risk-online-eda-with-python).

In [3]:
import pandas as pd
import numpy as np
import os

import warnings
warnings.filterwarnings('ignore')

In [6]:
base_data_dir = '../../data'
df = pd.read_pickle(os.path.join(base_data_dir, 'online_sex_work_clean.pkl'))

df.head()

,female,age,a,b,c,d,e,f,g,h,...,last_login,member_since,number_of_comments_in_public_forum,number_of_minutes_spent_chatting,number_of_advertisements_posted,number_of_offline_meetings_attended,number_of_profile_pictures,number_of_friends,friends_id_list,risk
User_ID,,,,,,,,,,,,,,,,,,,,,
10386,0,34.6,1,0,0,0,0,0,0,0,...,10,2252,32,2,0,0,0,1,18260,0
37521,0,62,0,0,0,0,0,0,0,0,...,1,1157,43,905,0,2,0,5,"25139,43995,35555,41486,38957",0
3987,0,28.1,0,0,0,0,0,0,0,0,...,9,2557,73,0,0,0,2,0,None,0
40412,0,24.6,0,0,0,0,1,0,0,0,...,4,994,0,0,0,0,0,0,None,0
42646,0,22.1,0,0,0,0,1,0,0,0,...,1,868,2,0,0,0,1,1,42074,0

### Aggregate Statistics

In [24]:
print('Number of users: %d' % df.shape[0])
print('Number of labeled users: %d' % list(df['risk'].notnull()).count(True))
print('Number of unlabeled users: %d' % list(df['risk'].notnull()).count(False))
print('Number of features: %d' % (df.shape[1] - 1))

Number of users: 28831
Number of labeled users: 90
Number of unlabeled users: 28741
Number of features: 42